{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container bg-white shadow-sm rounded-4 my-5 p-5">
    <div class="text-center">
        <h1 class="fw-bold text-primary mb-4">Welcome to E-Commerce</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam vel consequuntur tenetur vero eum, mollitia praesentium rem dolorum ut magnam aspernatur facilis beatae, quia magni consectetur. Totam perspiciatis maxime ut!
        </p>
    </div>
</div>
{% endblock %}
